
<div style="width: 475px; margin-left: 150px;">
<h2 class="breadcrumb">Contact</h2>
<p>
Please send all feedback, questions, bugs, feature requests to:
</p> 
<%= mail_to "feedback@loopr.com", nil, :encode => "javascript" %>
</div>
