<% title "Accept Invite" %>

<div class="dialog" id="login">

	<p class="instructions">
	It looks like you might have been trying to accept an invitation from somebody to join LOOPR.com.
	The only problem is we didn't understand the link you provided. Please check and double check to
	make sure it is correct.
	</p>

</div>

