<div style="width: 500px; padding: 1em;">
	<%= link_to_function image_tag("close_button.gif"), "RedBox.close()", :id => "RB_close" %>
	<br clear="all" />
	<h2 class="breadcrumb">Add Course Tip for <%= @tip.course.short_name %></h2>

	Coming Soon.
</div>
