<%= error_messages_for 'board' %>

<!--[form:board]-->
<p><label for="board_context_type">Context type</label><br/>
<%= text_field 'board', 'context_type'  %></p>

<p><label for="board_context_type">Context type</label><br/>
<%= text_field 'board', 'context_id'  %></p>

<p><label for="board_name">Name</label><br/>
<%= text_field 'board', 'name'  %></p>

<p><label for="board_description">Description</label><br/>
<%= text_area 'board', 'description'  %></p>

<!--[eoform:board]-->

