
<div id="directory-warning">
	<strong>Note</strong>: 
	Our course directory is still growing so you may not be able
	to find the course you are looking for. We apologize for the inconvenience. 
	If you'd like to help us grow our directory, send an e-mail to
	<%= mail_to "feedback@loopr.com", nil, :encode => "javascript" %>.
</div>