<%= @invite.body %>

If you would like to join this group, click on the following link (or copy and paste it into your web browser).

<%= @url %>

p.s. If you are not interested, just ignore this email. We won't bug you again and there's nothing special you have to do.