<%= error_messages_for 'post' %>

<!--[form:post]-->
<p><label for="post_subject">Subject</label><br/>
<%= text_field 'post', 'subject'  %></p>

<p><label for="post_message">Message</label><br/>
<%= text_area 'post', 'message'  %></p>

<p><label for="post_created_at">Created at</label><br/>
</p>

<p><label for="post_updated_at">Updated at</label><br/>
</p>
<!--[eoform:post]-->

