<% title @group.name + ": Settings" %>
<% current_tab "settings" %>

<h2>Edit Group Membership</h2>

<div class="subSection">

	<div class="progressBox">
	<%= image_tag "checkmark.gif", :valign => "top" %> Membership changes saved successfully. 
	</div>
	
	<p>
		<%= link_to("Return to main admin page", :action => :settings, :id => @group) %>
	</p>
	
</div>
