<% title "Create Group" %>
<div>
	<p>
	Enter a name and description for your group below.
	</p>
	<%= start_form_tag :action => 'create' %>
	  <%= render_partial 'form' %>
	<%= end_form_tag %>
</div>


