<ul>
	<li>
		<%= link_to_unless_current("Password", :action => 'change_password') %>
	</li>
	<li>
		<%= link_to_unless_current("Email Address", :action => 'edit_email') %>
	</li>
	<li>
		<%= link_to_unless_current("Icon", :action => 'edit_icon') %>
	</li>
</ul>
	