<div class="dialog">
	<div style="margin-bottom: 30px">
		<h1 class="welcomeHeader">Verify Failed</h1>
	</div>
	
	<p>
	Sorry, there was a problem verifying your account. Please check
	that the correct url was entered.
	</p>
</div>

