
<div style="margin-bottom: 30px">
	<h1 class="welcomeHeader">Welcome <%= h display_name(current_user) %>! 
	You are now registered.
	</h1>
</div>

<div style="float: left; width: 400px; margin-top: 0px; padding-top: 5px;">
	<%= render :partial => 'main/getting_started' %>
</div>

<div style="margin-left: 410px; margin-top: 0px; padding-top: 5px;">
 	<%= render :partial => 'main/whats_new' %>
</div>

