Hi,

If you have lost the password for your <%= @app_name %> account, you can reset it using the link below:

Username: <%= @login %>
Password Reset Link: <%= @url %>
 
Your friends at <%= @app_name %>
