Welcome to <%= @app_name %>!

Your username is : <%= @login %>

Your "Your LOOPR" page is: <%= @home_url %>

To receive service notifications, etc use the following link to confirm your account:

<%= @confirm_url%>

