<%= render :partial => 'menu', :locals => { :prev => "stats" , :nnext => "groups" } %>

<div class="screenshot-section-right">
	<a name="course_map"><h3>Course Map</h3></a>
	<%= image_tag "screenshots/course_map.png" %>
	<p>
	Build up your course map and so everybody what a wolrd traveller you are. More of a homebody?
	This page gives you quick access to personalized course information and stats.
	</p>
</div>
